## KNN Regression Training using Mean Squared Error

Predicting the unamed columns

In [14]:
import pandas as pd
import numpy as np
from shutil import copyfile
import os

In [15]:
src = "../data/bigtable.csv"
dst = "./bigtable.csv"
if os.path.exists(dst):
    os.remove(dst)
copyfile(src, dst)

'./bigtable.csv'

In [16]:
df = pd.read_csv(dst)
df.tail()

,Unnamed: 0,datetime,pm25,type,sensor,station_id,x,y,population,dist-mroads,...,date,24hr,datehour,date.1,TEMP,WIND,DEW,SKY,VIS,ATM
152619,1113424,2019-10-27 18:00:00 UTC,5.0,AirNow,ND,"[{name=US EPA AirNow, url=http://www.airnow.go...",39.11440,-77.10690,0.367146,0.469,...,2019-10-27,06:00:00,2019-10-27-18,2019-10-27T18:00:00,256.1,46.0,200.1,22000.0,16000.0,10080.1
152620,1113429,2019-10-27 18:00:00 UTC,2.0,AirNow,ND,"[{name=US EPA AirNow, url=http://www.airnow.go...",39.05530,-76.87830,0.367146,0.469,...,2019-10-27,06:00:00,2019-10-27-18,2019-10-27T18:00:00,256.1,46.0,200.1,22000.0,16000.0,10080.1
152621,1113432,2019-10-27 18:00:00 UTC,7.0,AirNow,ND,"[{name=US EPA AirNow, url=http://www.airnow.go...",38.87516,-77.01282,48.505119,0.000,...,2019-10-27,06:00:00,2019-10-27-18,2019-10-27T18:00:00,256.1,46.0,200.1,22000.0,16000.0,10080.1
152622,1116925,2019-10-27 22:00:00 UTC,0.9,AirNow,ND,"[{name=US EPA AirNow, url=http://www.airnow.go...",38.77170,-77.10890,3.400232,0.118,...,2019-10-27,10:00:00,2019-10-27-22,2019-10-27T22:52:00,217.5,46.0,128.5,22000.0,16093.0,10116.5
152623,1117029,2019-10-27 08:00:00 UTC,5.6,AirNow,ND,"[{name=US EPA AirNow, url=http://www.airnow.go...",38.77170,-77.10890,3.400232,0.118,...,2019-10-27,08:00:00,2019-10-27-08,2019-10-27T08:14:00,167.5,15.0,161.5,366.0,8047.0,99999.9

In [17]:
from pandas.plotting import scatter_matrix
#scatter_matrix(df, alpha=0.2, figsize=(6, 6), diagonal='kde')

This will give the dimension of 2-d Array

In [28]:
X.shape

(140108, 14)

In [29]:
from numpy import set_printoptions
df2=df.drop(["datetime", "type", "sensor", "station_id", "x", "y", "date", "date.1", "24hr", "datehour"], axis=1)

In [30]:
df2 = df2.dropna()

In [31]:
df2.head()

,Unnamed: 0,pm25,population,dist-mroads,dist-setl,dist-coast,dist-forest,slope,elevation,dayofweek,sin_day,cos_day,sin_year,cos_year,TEMP,WIND,DEW,SKY,VIS,ATM
0,0,52.33,54.04969,0.072,-1.541,2.792,1.596,1.0,29.0,2,-0.707107,-0.707107,0.806480,-0.591261,211.1,36.0,161.1,99999.0,16000.0,10218.1
1,1,0.17,54.04969,0.072,-1.541,2.792,1.596,1.0,29.0,2,-0.866025,-0.500000,0.806480,-0.591261,228.5,41.0,167.5,762.0,16093.0,10213.5
2,2,52.33,54.04969,0.072,-1.541,2.792,1.596,1.0,29.0,2,-0.707107,-0.707107,0.806480,-0.591261,211.1,36.0,161.1,99999.0,16000.0,10218.1
3,3,0.17,54.04969,0.072,-1.541,2.792,1.596,1.0,29.0,2,-0.866025,-0.500000,0.806480,-0.591261,228.5,41.0,167.5,762.0,16093.0,10213.5
25,25,0.33,54.04969,0.072,-1.541,2.792,1.596,1.0,29.0,3,-0.500000,-0.866025,0.796183,-0.605056,200.5,36.0,167.5,396.0,16093.0,10213.5

In [22]:
from sklearn.neighbors import KNeighborsRegressor

array = df2.values
print(len(array))
print(len(array[0]))

X = array[:,2:16]
Y = array[:,1]

neigh = KNeighborsRegressor(n_neighbors=2)
neigh.fit(X, Y)

Y_target = neigh.predict(X)

140108
20

In [23]:
Y_target

array([42.85,  0.34, 42.85, ...,  4.5 ,  5.35,  6.1 ])

In [32]:
np.mean((Y_target - Y)**2)

# mse
#np.mean always computes an arithmetic mean, and has some additional options for input and output (e.g. what datatypes to use, where to place the result).

3.2599724177063414