In [19]:
# Import Libraries and Setup Environment
import os
import numpy as np
import pandas as pd

# Files
purple_data = os.path.join("data","purpleair","merged.csv")
weather_data = os.path.join("data","weather","weather.csv")
worldpop_data = os.path.join("data","worldpop","1km_t0.csv")

###################
# Purple Air Data
###################
# Extract
purple = pd.read_csv(filepath_or_buffer=purple_data, sep=",", encoding="utf-8", header=0)
purple = purple.rename(columns={"datetime":"DATE", "pm25":"PM25", "sensor":"SENSOR", "type":"TYPE", "station_id":"STATION", "x":"X", "y":"Y"})

###################
# Weather Data
###################
# Load weather data into variable
w = pd.read_csv(filepath_or_buffer=weather_data, sep=",", encoding="utf-8", header=0)

###################
# Worldpop Data
###################
# Extract
pop = pd.read_csv(filepath_or_buffer=worldpop_data, sep=",", encoding="utf-8", header=0)
pop = pop.rename(columns={"fid":"FID", "date":"DATE", "24hour":"24HR", "x":"X", "y":"Y", "Ground_val":"GROUND_VAL", "Satelite_val":"SATELLITE_VAL", "Land_use":"LAND_USE", "Road_density":"ROAD_DENSITY","Population":"POP","Temperature":"TEMP","Wind_dir":"WIND_DIR","Wind_Velocity":"WIND_V","Hygrometry":"HYGROMETRY","Atm_Pres":"ATM"})
pop

# Transform
# Final

,FID,DATE,24HR,X,Y,GROUND_VAL,SATELLITE_VAL,LAND_USE,ROAD_DENSITY,POP,TEMP,WIND_DIR,WIND_V,HYGROMETRY,ATM
0,1,2010-01-01,0,-77.735661,39.528475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2010-01-01,0,-77.726678,39.528475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2010-01-01,0,-77.717695,39.528475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2010-01-01,0,-77.708712,39.528475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2010-01-01,0,-77.699728,39.528475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24608,24609,2010-01-01,0,-76.424121,38.396964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24609,24610,2010-01-01,0,-76.415138,38.396964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24610,24611,2010-01-01,0,-76.406154,38.396964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24611,24612,2010-01-01,0,-76.397171,38.396964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24612,24613,2010-01-01,0,-76.388188,38.396964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN